@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Source Code Pro";
    src: url(./fonts/SourceCodePro-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: "Anaheim";
    src: url(./fonts/Anaheim-Regular.ttf);
  }
  @font-face {
    font-family: "Sumana-Regular";
    src: url(./fonts/Sumana-Regular.ttf);
  }
  @font-face {
    font-family: "Sumana-Bold";
    src: url(./fonts/Sumana-Bold.ttf);
  }
}

@layer components {
  .base {
    h1 {
      @apply font-bold text-4xl xl:text-6xl font-mono text-zinc-700 tracking-wide; 
    }
    h2 {
      @apply font-bold text-3xl xl:text-5xl font-mono text-zinc-700 tracking-wide;
    }
    h3 {
      @apply font-bold text-2xl xl:text-4xl font-mono text-zinc-700 tracking-wide;
    }
    h4 {
      @apply font-bold text-xl xl:text-3xl font-mono text-zinc-700 tracking-wide;
    }
    h5 {
      @apply font-bold text-lg xl:text-2xl font-mono text-zinc-700 tracking-wide;
    }
    h6 {
      @apply font-bold font-mono xl:text-xl text-zinc-700 tracking-wide;
    }
  }
}
