<div class="my-48 text-center">
  <p class="text-4xl xl:text-6xl font-bold my-8">Hello! 👋🏻</p>
  <p class="text-lg xl:text-2xl">
    I am a full stack developer, with a passion for bringing people's ideas to life.
  </p>
  <p class="text-lg xl:text-2xl">
    I currently work mostly with
    <Components.highlight>Elixir</Components.highlight>,
    <Components.highlight>React</Components.highlight>
    (and
    <Components.highlight>React Native</Components.highlight>)
    and
    <Components.highlight>Typescript</Components.highlight>.
  </p>
  <p class="text-lg xl:text-2xl">
    I am Canadian, bilingual, have a passion for
    <Components.link to="#photos"><%= "photography" %></Components.link>
    and previously worked as a
    <Components.link
      to="https://www.jobbank.gc.ca/marketreport/summary-occupation/22706/ca"
      new_tab={true}
    >
      flight dispatcher
    </Components.link>.
  </p>
  <div class="mx-auto flex justify-center gap-4 my-8">
    <Components.link to="https://github.com/simonoricardo" new_tab={true}>
      <Icons.github size={2} />
    </Components.link>
    <Components.link to="https://www.linkedin.com/in/simon-ricard-5a5767a3/" new_tab={true}>
      <Icons.linkedin size={2} />
    </Components.link>
    <Components.link to="https://www.linkedin.com/in/simon-ricard-5a5767a3/" new_tab={true}>
      <Icons.code size={2} />
    </Components.link>
  </div>
</div>
